
body{
  background-color: #1D3551

}

h1{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
    color: #F1FAEE
}

h6{
font-family: 'Great Vibes', cursive;
text-align: center;
  color: #F1FAEE
}

p{

    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .02em;
    color: #A8DADC


  /* font-family: 'Muli', sans-serif;
    color: white; */
}



/* ############################################################### */
/* This is used to center the logo on the main page. */
/* ############################################################### */
.light-bulb{
  position: absolute;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0;
}
/* ############################################################### */

.refresh-icon{
  object-fit: scale-down;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 75%;
  bottom: 0;
}
