{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <title>Citrix</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
      <!-- <link rel="stylesheet" href="{% static '/css/index.css' %}"> -->
      <link rel="stylesheet" href="{% static 'css/citrix.css' %}"


  </head>
  <body>

<div>
  <br>
  <h2>Host Name: {{ host_name01 }}</h2>
  <h3>Open ICA Connections: {{ aaacuricaonlyconn01 }}</h3>
  <h3>Gateway Connections: {{ aaacuricasessions01 }}</h3>
  <br>
</div>


<div>
  <br>
  <h2>Host Name: {{ host_name02 }}</h2>
  <h3>Open ICA Connections: {{ aaacuricaonlyconn02 }}</h3>
  <h3>Gateway Connections: {{ aaacuricasessions02 }}</h3>
  <br>
</div>

<div>
  <br>
  <h2>Host Name: {{ host_name03 }}</h2>
  <h3>Open ICA Connections: {{ aaacuricaonlyconn03 }}</h3>
  <h3>Gateway Connections: {{ aaacuricasessions03 }}</h3>
  <br>
</div>

<div>
  <br>
  <h2>Host Name: {{ host_name04 }}</h2>
  <h3>Open ICA Connections: {{ aaacuricaonlyconn04 }}</h3>
  <h3>Gateway Connections: {{ aaacuricasessions04 }}</h3>
  <br>
</div>

<div>
  <br>
  <h2>Host Name: {{ host_name05 }}</h2>
  <h3>Open ICA Connections: {{ aaacuricaonlyconn05 }}</h3>
  <h3>Gateway Connections: {{ aaacuricasessions05 }}</h3>
  <br>
</div>

<a href="{% url 'index:index' %}"><img src="{% static '/img/back.png' %}" alt=""></a>



</html>
